{
    "mcpServers": {
        "knowledge_base": {
            "command": "python",
            "args": ["application/mcp_server_retrieve.py"]
        },
        "long_term_memory": {
            "command": "python",
            "args": ["application/mcp_server_long_term_memory.py"]
        },
        "repl_coder": {
            "command": "python",
            "args": ["application/mcp_server_repl_coder.py"]
        },
        "notionApi": {
            "command": "npx",
            "args": ["-y", "@notionhq/notion-mcp-server"],
            "env": {
                "NOTION_TOKEN": token
            }
        }
    }
}